@model List<Domain.Model.ToDoItem>
@{
    ViewBag.Title = "To Do List";
}

@Html.React("ToDoListSkeleton", new
{
    initialData = Model,
    addTodoUrl=Url.Action("AddToDo"),
    markAllDoneUrl=Url.Action("MarkAllDone"),
    markItemDone=Url.Action("MarkTodoDone"),
    deleteItemUrl=Url.Action("DeleteItem")
})
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Description @item.CreateTime</li>
    }
</ul>