@model List<Domain.Model.ToDoItem>
@{
    ViewBag.Title = "To Do List";
}
<div id="content">
    
</div>
@*@Html.React("Components.ToDoListSkeleton", new
{
    initialData = Model,
    addTodoUrl=Url.Action("AddToDo"),
    markAllDoneUrl=Url.Action("MarkAllDone"),
    markItemDone=Url.Action("MarkTodoDone"),
    deleteItemUrl=Url.Action("DeleteItem")
})*@
